In [20]:
import pandas as pd
import numpy as np
import locale

## Dimension de tiempo

In [5]:
dim_hour = pd.DataFrame({'id_hour': range(1, 25),
                         'hour': range(0, 24)})

dim_hour['hour_group'] = ['Madrugada'] * 6 + ['Mañana'] * 6 + ['Tarde'] * 6 + ['Noche'] * 6

print(dim_hour.shape)
display(dim_hour.head(3))

(24, 3)

   id_hour  hour hour_group
0        1     0  Madrugada
1        2     1  Madrugada
2        3     2  Madrugada

In [11]:
dim_hour.to_csv('git/shorts/dimensional/data/dim_hour.csv', index=False)

## Dimension de fechas

In [34]:
dim_date = pd.DataFrame({'id_date': pd.date_range(start='2025-01-01', end='2025-12-31'),
                         'date': pd.date_range(start='2025-01-01', end='2025-12-31')})

dim_date['day'] = dim_date['date'].dt.day
dim_date['month'] = dim_date['date'].dt.month
dim_date['year'] = dim_date['date'].dt.year
dim_date['day_of_week'] = dim_date['date'].dt.dayofweek + 1
dim_date['day_name'] = dim_date['date'].dt.day_name()
dim_date['month_name'] = dim_date['date'].dt.month_name()
dim_date['quarter'] = dim_date['date'].dt.quarter
dim_date['weekday_indicator'] = np.where(dim_date['day_of_week'].isin([6, 7]), 'Fin de Semana', 'Entre Semana')
dim_date['week_of_year'] = dim_date['date'].dt.isocalendar().week
dim_date['is_end_of_month'] = np.where(dim_date['date'] == dim_date['date'] + pd.offsets.MonthEnd(0), True, False)
dim_date['is_end_of_quarter'] = np.where(dim_date['date'] == dim_date['date'] + pd.offsets.QuarterEnd(0), True, False)
dim_date['is_end_of_year'] = np.where(dim_date['date'] == dim_date['date'] + pd.offsets.YearEnd(0), True, False)

dim_date['id_date'] = dim_date['id_date'].dt.strftime('%Y%m%d').astype(int)
dim_date.loc[dim_date['day_name'] == 'Monday', 'day_name'] = 'Lunes'
dim_date.loc[dim_date['day_name'] == 'Tuesday', 'day_name'] = 'Martes'
dim_date.loc[dim_date['day_name'] == 'Wednesday', 'day_name'] = 'Miércoles'
dim_date.loc[dim_date['day_name'] == 'Thursday', 'day_name'] = 'Jueves'
dim_date.loc[dim_date['day_name'] == 'Friday', 'day_name'] = 'Viernes'
dim_date.loc[dim_date['day_name'] == 'Saturday', 'day_name'] = 'Sábado'
dim_date.loc[dim_date['day_name'] == 'Sunday', 'day_name'] = 'Domingo'
dim_date.loc[dim_date['month_name'] == 'January', 'month_name'] = 'Enero'
dim_date.loc[dim_date['month_name'] == 'February', 'month_name'] = 'Febrero'
dim_date.loc[dim_date['month_name'] == 'March', 'month_name'] = 'Marzo'
dim_date.loc[dim_date['month_name'] == 'April', 'month_name'] = 'Abril'
dim_date.loc[dim_date['month_name'] == 'May', 'month_name'] = 'Mayo'
dim_date.loc[dim_date['month_name'] == 'June', 'month_name'] = 'Junio'
dim_date.loc[dim_date['month_name'] == 'July', 'month_name'] = 'Julio'
dim_date.loc[dim_date['month_name'] == 'August', 'month_name'] = 'Agosto'
dim_date.loc[dim_date['month_name'] == 'September', 'month_name'] = 'Septiembre'
dim_date.loc[dim_date['month_name'] == 'October', 'month_name'] = 'Octubre'
dim_date.loc[dim_date['month_name'] == 'November', 'month_name'] = 'Noviembre'
dim_date.loc[dim_date['month_name'] == 'December', 'month_name'] = 'Diciembre'

dim_date['quarter_name'] = 'T' + dim_date['quarter'].astype(str)
dim_date['year_month'] = dim_date['year'].astype(str) + '-' + dim_date['month'].astype(str).str.zfill(2)
dim_date['quarter_year'] = dim_date['quarter_name'] + ' ' + dim_date['year'].astype(str)

dim_date['holiday_indicator'] = 'No Festivo'
dim_date.loc[dim_date['date'].isin(['2025-01-01', '2025-02-05', '2025-03-21', '2025-05-01',
                                    '2025-09-16', '2025-11-20', '2025-12-25']), 'holiday_indicator'] = 'Festivo'


print(dim_date.shape)
display(dim_date.head(3))

(365, 18)

/tmp/ipykernel_258537/226697226.py:43: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  dim_date.loc[dim_date['date'].isin(['2025-01-01', '2025-02-05', '2025-03-21', '2025-05-01',

,id_date,date,day,month,year,day_of_week,day_name,month_name,quarter,weekday_indicator,week_of_year,is_end_of_month,is_end_of_quarter,is_end_of_year,quarter_name,year_month,quarter_year,holiday_indicator
0,20250101,2025-01-01,1,1,2025,3,Miércoles,Enero,1,Entre Semana,1,False,False,False,T1,2025-01,T1 2025,Festivo
1,20250102,2025-01-02,2,1,2025,4,Jueves,Enero,1,Entre Semana,1,False,False,False,T1,2025-01,T1 2025,No Festivo
2,20250103,2025-01-03,3,1,2025,5,Viernes,Enero,1,Entre Semana,1,False,False,False,T1,2025-01,T1 2025,No Festivo

In [35]:
dim_date.to_csv('git/shorts/dimensional/data/dim_date.csv', index=False)