In [2]:
import pandas as pd
import numpy as np
import random

## Dimension de tiempo

In [5]:
dim_hour = pd.DataFrame({'id_hour': range(1, 25),
                         'hour': range(0, 24)})

dim_hour['hour_group'] = ['Madrugada'] * 6 + ['Mañana'] * 6 + ['Tarde'] * 6 + ['Noche'] * 6

print(dim_hour.shape)
display(dim_hour.head(3))

(24, 3)

   id_hour  hour hour_group
0        1     0  Madrugada
1        2     1  Madrugada
2        3     2  Madrugada

In [11]:
dim_hour.to_csv('git/shorts/dimensional/data/dim_hour.csv', index=False)

## Dimension de fechas

In [71]:
array_dates = pd.date_range(start='1900-01-01', end='1900-01-01')
array_dates = array_dates.append(pd.date_range(start='2025-01-01', end='2025-12-31'))
array_dates = array_dates.append(pd.date_range(start='2100-01-01', end='2100-01-01'))

dim_date = pd.DataFrame({'id_date': array_dates, 'date': array_dates})

dim_date['day'] = dim_date['date'].dt.day
dim_date['month'] = dim_date['date'].dt.month
dim_date['year'] = dim_date['date'].dt.year
dim_date['day_of_week'] = dim_date['date'].dt.dayofweek + 1
dim_date['day_name'] = dim_date['date'].dt.day_name()
dim_date['month_name'] = dim_date['date'].dt.month_name()
dim_date['quarter'] = dim_date['date'].dt.quarter
dim_date['weekday_indicator'] = np.where(dim_date['day_of_week'].isin([6, 7]), 'Fin de Semana', 'Entre Semana')
dim_date['week_of_year'] = dim_date['date'].dt.isocalendar().week
dim_date['is_end_of_month'] = np.where(dim_date['date'] == dim_date['date'] + pd.offsets.MonthEnd(0), True, False)
dim_date['is_end_of_quarter'] = np.where(dim_date['date'] == dim_date['date'] + pd.offsets.QuarterEnd(0), True, False)
dim_date['is_end_of_year'] = np.where(dim_date['date'] == dim_date['date'] + pd.offsets.YearEnd(0), True, False)

dim_date['id_date'] = dim_date['id_date'].dt.strftime('%Y%m%d').astype(int)
dim_date.loc[dim_date['day_name'] == 'Monday', 'day_name'] = 'Lunes'
dim_date.loc[dim_date['day_name'] == 'Tuesday', 'day_name'] = 'Martes'
dim_date.loc[dim_date['day_name'] == 'Wednesday', 'day_name'] = 'Miércoles'
dim_date.loc[dim_date['day_name'] == 'Thursday', 'day_name'] = 'Jueves'
dim_date.loc[dim_date['day_name'] == 'Friday', 'day_name'] = 'Viernes'
dim_date.loc[dim_date['day_name'] == 'Saturday', 'day_name'] = 'Sábado'
dim_date.loc[dim_date['day_name'] == 'Sunday', 'day_name'] = 'Domingo'
dim_date.loc[dim_date['month_name'] == 'January', 'month_name'] = 'Enero'
dim_date.loc[dim_date['month_name'] == 'February', 'month_name'] = 'Febrero'
dim_date.loc[dim_date['month_name'] == 'March', 'month_name'] = 'Marzo'
dim_date.loc[dim_date['month_name'] == 'April', 'month_name'] = 'Abril'
dim_date.loc[dim_date['month_name'] == 'May', 'month_name'] = 'Mayo'
dim_date.loc[dim_date['month_name'] == 'June', 'month_name'] = 'Junio'
dim_date.loc[dim_date['month_name'] == 'July', 'month_name'] = 'Julio'
dim_date.loc[dim_date['month_name'] == 'August', 'month_name'] = 'Agosto'
dim_date.loc[dim_date['month_name'] == 'September', 'month_name'] = 'Septiembre'
dim_date.loc[dim_date['month_name'] == 'October', 'month_name'] = 'Octubre'
dim_date.loc[dim_date['month_name'] == 'November', 'month_name'] = 'Noviembre'
dim_date.loc[dim_date['month_name'] == 'December', 'month_name'] = 'Diciembre'

dim_date['quarter_name'] = 'T' + dim_date['quarter'].astype(str)
dim_date['year_month'] = dim_date['year'].astype(str) + '-' + dim_date['month'].astype(str).str.zfill(2)
dim_date['quarter_year'] = dim_date['quarter_name'] + ' ' + dim_date['year'].astype(str)

dim_date['holiday_indicator'] = 'No Festivo'
dim_date.loc[dim_date['date'].isin(['2025-01-01', '2025-02-05', '2025-03-21', '2025-05-01',
                                    '2025-09-16', '2025-11-20', '2025-12-25']), 'holiday_indicator'] = 'Festivo'


print(dim_date.shape)
display(dim_date.head(3))

(367, 18)

/tmp/ipykernel_258537/627535237.py:46: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  dim_date.loc[dim_date['date'].isin(['2025-01-01', '2025-02-05', '2025-03-21', '2025-05-01',

,id_date,date,day,month,year,day_of_week,day_name,month_name,quarter,weekday_indicator,week_of_year,is_end_of_month,is_end_of_quarter,is_end_of_year,quarter_name,year_month,quarter_year,holiday_indicator
0,19000101,1900-01-01,1,1,1900,1,Lunes,Enero,1,Entre Semana,1,False,False,False,T1,1900-01,T1 1900,No Festivo
1,20250101,2025-01-01,1,1,2025,3,Miércoles,Enero,1,Entre Semana,1,False,False,False,T1,2025-01,T1 2025,Festivo
2,20250102,2025-01-02,2,1,2025,4,Jueves,Enero,1,Entre Semana,1,False,False,False,T1,2025-01,T1 2025,No Festivo

In [72]:
dim_date.to_csv('git/shorts/dimensional/data/dim_date.csv', index=False)

## Dimension Producto

In [50]:
random.seed(42)

dim_product = pd.DataFrame({'id_product': range(1, 101)})
dim_product['title'] = ['Libro ' + str(i) for i in dim_product['id_product']]
dim_product['author'] = ['Autor ' + str(random.randint(1, 30)) for _ in dim_product['id_product']]
dim_product['genre'] = random.choices(['Ficción', 'No Ficción', 'Ciencia Ficción', 'Romance', 'Misterio', 'Fantasia'], k=100)
dim_product['subgenre'] = random.choices(['Subgénero A', 'Subgénero B', 'Subgénero C'], k=100)
dim_product['publication_year'] = [random.randint(1990, 2024) for _ in dim_product['id_product']]
dim_product['publisher'] = ['Editorial ' + str(random.randint(1, 5)) for _ in dim_product['id_product']]
dim_product['cover_type'] = random.choices(['Tapa Dura', 'Tapa Blanda'], k=100)
dim_product['country'] = random.choices(['México', 'España', 'Argentina', 'Colombia', 'Chile'], k=100)

print(dim_product.shape)
display(dim_product.head(3))

(100, 9)

,id_product,title,author,genre,subgenre,publication_year,publisher,cover_type,country
0,1,Libro 1,Autor 21,Misterio,Subgénero B,1994,Editorial 5,Tapa Dura,Argentina
1,2,Libro 2,Autor 4,Misterio,Subgénero C,1990,Editorial 4,Tapa Blanda,España
2,3,Libro 3,Autor 1,Misterio,Subgénero B,2019,Editorial 5,Tapa Blanda,Colombia

In [51]:
dim_product.to_csv('git/shorts/dimensional/data/dim_product.csv', index=False)

## Dimension Tienda

In [47]:
dim_store = pd.DataFrame({'id_store': range(1, 21)})
dim_store['store_name'] = ['Tienda ' + str(i) for i in dim_store['id_store']]
dim_store['state'] = random.choices(['CDMX', 'Jalisco', 'Nuevo León', 'Puebla', 'Guanajuato'], k=20)
dim_store['open_date'] = random.choices(['20250101', '20250115', '20250201', '20250215'], k=20, weights=[0.75, 0.15, 0.05, 0.05])
dim_store['store_type'] = random.choices(['Standalone', 'Centro Comercial'], k=20, weights=[0.8, 0.2])

print(dim_store.shape)
display(dim_store.head(3))

(20, 5)

   id_store store_name    state open_date        store_type
0         1   Tienda 1  Jalisco  20250201  Centro Comercial
1         2   Tienda 2     CDMX  20250101        Standalone
2         3   Tienda 3     CDMX  20250115        Standalone

In [48]:
dim_store.to_csv('git/shorts/dimensional/data/dim_store.csv', index=False)

## Dimension Promocion

In [77]:
dim_promotion = pd.DataFrame({'id_promotion': range(1, 7)})
dim_promotion['promotion_code'] = ['00000', 'DESC01', 'DESC02', 'DESC03', 'FIJ01', 'FIJ02']
dim_promotion['promotion_name'] = ['Sin Promoción', 'Promoción al 2x1', 
                                   'Promoción al 2x1', 'Promoción al 2x1', 
                                   'Cupon de 50 pesos en compra superior a $500', 
                                   'Cupon de 50 pesos en compra superior a $500']
dim_promotion['start_date'] = ['19000101', '20250501', '20250601', '20250701', '20250801', '20250901']
dim_promotion['end_date'] = ['21000101', '20250515', '20250615', '20250715', '20250815', '20250915']
dim_promotion['price_reduction_type'] = ['Sin reducción', 'Porcentaje', 'Porcentaje', 'Porcentaje', 'Fijo', 'Fijo']
dim_promotion['promotion_media_type'] = ['Sin campaña', 'Facebook', 'Radio', 'Sin Campaña', 'Facebook', 'Radio']

print(dim_promotion.shape)
display(dim_promotion.head(10))

(6, 7)

,id_promotion,promotion_code,promotion_name,start_date,end_date,price_reduction_type,promotion_media_type
0,1,00000,Sin Promoción,19000101,21000101,Sin reducción,Sin campaña
1,2,DESC01,Promoción al 2x1,20250501,20250515,Porcentaje,Facebook
2,3,DESC02,Promoción al 2x1,20250601,20250615,Porcentaje,Radio
3,4,DESC03,Promoción al 2x1,20250701,20250715,Porcentaje,Sin Campaña
4,5,FIJ01,Cupon de 50 pesos en compra superior a $500,20250801,20250815,Fijo,Facebook
5,6,FIJ02,Cupon de 50 pesos en compra superior a $500,20250901,20250915,Fijo,Radio

In [78]:
dim_promotion.to_csv('git/shorts/dimensional/data/dim_promotion.csv', index=False)

## Tipo de Transacción de Inventario

In [81]:
dim_inventory_transaction_type = pd.DataFrame({'id_inventory_transaction_type': range(1, 7)})
dim_inventory_transaction_type['transaction_type_name'] = ['Recepción de Mercancia', 'Venta', 'Devolución', 'Ajuste Positivo', 'Ajuste Negativo', 'Traspaso']
dim_inventory_transaction_type['transaction_nature'] = ['Entrada', 'Salida', 'Entrada', 'Entrada', 'Salida', 'Entrada/Salida']
dim_inventory_transaction_type['transaction_impact'] = ['Aumento', 'Disminución', 'Aumento', 'Aumento', 'Disminución', 'Ninguno']

print(dim_inventory_transaction_type.shape)
display(dim_inventory_transaction_type.head(10))

(6, 4)

,id_inventory_transaction_type,transaction_type_name,transaction_nature,transaction_impact
0,1,Recepción de Mercancia,Entrada,Aumento
1,2,Venta,Salida,Disminución
2,3,Devolución,Entrada,Aumento
3,4,Ajuste Positivo,Entrada,Aumento
4,5,Ajuste Negativo,Salida,Disminución
5,6,Traspaso,Entrada/Salida,Ninguno

In [82]:
dim_inventory_transaction_type.to_csv('git/shorts/dimensional/data/dim_inventory_transaction_type.csv', index=False)

## Dimension Vendedor

In [84]:
dim_vendor = pd.DataFrame({'id_vendor': range(1, 4)})
dim_vendor['vendor_name'] = ['Casa Bajio', 'Editores Unidos', 'Librosom']
dim_vendor['vendor_city'] = ['Ciudad de México', 'Guadalajara', 'Monterrey']
dim_vendor['vendor_status'] = ['Activo', 'Activo', 'Inactivo']

print(dim_vendor.shape)
display(dim_vendor.head(5))

(3, 4)

   id_vendor      vendor_name       vendor_city vendor_status
0          1       Casa Bajio  Ciudad de México        Activo
1          2  Editores Unidos       Guadalajara        Activo
2          3         Librosom         Monterrey      Inactivo

In [87]:
dim_vendor.to_csv('git/shorts/dimensional/data/dim_vendor.csv', index=False)

## Dimension Contrato

In [86]:
dim_contract_terms = pd.DataFrame({'id_contract_terms': range(1, 4)})
dim_contract_terms['contract_type'] = ['Suministro Mercancia'] * 3
dim_contract_terms['payment_terms'] = ['30 días', '60 días', '90 días']
dim_contract_terms['currency'] = ['MXN'] * 3
dim_contract_terms['tax_included'] = [True] * 3
dim_contract_terms['contract_status'] = ['Activo', 'Activo', 'Inactivo']
dim_contract_terms['start_date'] = ['20220101', '20230101', '20220101']
dim_contract_terms['end_date'] = ['20231231', '20241231', '20221231']
dim_contract_terms['penalties'] = ['Ninguna', 'Ninguna', 'Ninguna']

print(dim_contract_terms.shape)
display(dim_contract_terms)

(3, 9)

,id_contract_terms,contract_type,payment_terms,currency,tax_included,contract_status,start_date,end_date,penalties
0,1,Suministro Mercancia,30 días,MXN,True,Activo,20220101,20231231,Ninguna
1,2,Suministro Mercancia,60 días,MXN,True,Activo,20230101,20241231,Ninguna
2,3,Suministro Mercancia,90 días,MXN,True,Inactivo,20220101,20221231,Ninguna

In [88]:
dim_contract_terms.to_csv('git/shorts/dimensional/data/dim_contract_terms.csv', index=False)

## DIMENSION MUTUA (JUNK) TIPO DE PAGO

In [5]:
dim_order_indicator = pd.DataFrame({'id_order_indicator': range(1, 9)})
dim_order_indicator['payment_type'] = ['Efectivo', 'Efectivo', 'Transferencia', 'Tarjeta de Débito',
                                       'Tarjeta de Débito', 'Tarjeta de Crédito', 'Tarjeta de Crédito',
                                       'Tarjeta de Crédito']
dim_order_indicator['payment_group'] = ['Efectivo', 'Efectivo', 'Efectivo', 'Efectivo', 'Efectivo',
                                        'Crédito', 'Crédito', 'Crédito']

dim_order_indicator['comission_indicator'] = ['Sin Comisión', 'Sin Comisión', 'Sin Comisión', 'Con Comisión',
                                              'Con Comisión', 'Con Comisión', 'Con Comisión', 'Con Comisión']

print(dim_order_indicator.shape)
display(dim_order_indicator.head(10))

(8, 4)

   id_order_indicator        payment_type payment_group comission_indicator
0                   1            Efectivo      Efectivo        Sin Comisión
1                   2            Efectivo      Efectivo        Sin Comisión
2                   3       Transferencia      Efectivo        Sin Comisión
3                   4   Tarjeta de Débito      Efectivo        Con Comisión
4                   5   Tarjeta de Débito      Efectivo        Con Comisión
5                   6  Tarjeta de Crédito       Crédito        Con Comisión
6                   7  Tarjeta de Crédito       Crédito        Con Comisión
7                   8  Tarjeta de Crédito       Crédito        Con Comisión

In [6]:
dim_order_indicator.to_csv('git/shorts/dimensional/data/dim_order_indicator.csv', index=False)

## DIMENSION MONEDA LOCAL

In [8]:
dim_local_currency = pd.DataFrame({'id_local_currency': [1, 2, 3, 4, 5]})
dim_local_currency['currency_code'] = ['MXN', 'USD', 'EUR', 'GBP', 'JPY']
dim_local_currency['currency_name'] = ['Peso Mexicano', 'Dólar Estadounidense', 'Euro', 'Libra Esterlina', 'Yen Japonés']

print(dim_local_currency.shape)
display(dim_local_currency.head(5))

(5, 3)

   id_local_currency currency_code         currency_name
0                  1           MXN         Peso Mexicano
1                  2           USD  Dólar Estadounidense
2                  3           EUR                  Euro
3                  4           GBP       Libra Esterlina
4                  5           JPY           Yen Japonés

In [9]:
dim_local_currency.to_csv('git/shorts/dimensional/data/dim_local_currency.csv', index=False)

## DIMENSION AUDITORIA

In [3]:
dim_audit = pd.DataFrame({'id_audit': range(1, 17)})
dim_audit['quality_approved'] = ['Verdadero'] * 4 + ['Falso'] * 4 + ['Verdadero'] * 4 + ['Falso'] * 4
dim_audit['out_of_bounds_indicator'] = ['Verdadero', 'Verdadero', 'Falso', 'Falso'] * 4
dim_audit['missing_indicator'] = ['Verdadero', 'Falso'] * 8
dim_audit['inputed_indicator'] = ['Falso'] * 16
dim_audit['etl_version'] = ['v0.0.1'] * 8 + ['v0.0.2'] * 8

print(dim_audit.shape)
display(dim_audit.head(10))

(16, 6)

,id_audit,quality_approved,out_of_bounds_indicator,missing_indicator,inputed_indicator,etl_version
0,1,Verdadero,Verdadero,Verdadero,Falso,v0.0.1
1,2,Verdadero,Verdadero,Falso,Falso,v0.0.1
2,3,Verdadero,Falso,Verdadero,Falso,v0.0.1
3,4,Verdadero,Falso,Falso,Falso,v0.0.1
4,5,Falso,Verdadero,Verdadero,Falso,v0.0.1
5,6,Falso,Verdadero,Falso,Falso,v0.0.1
6,7,Falso,Falso,Verdadero,Falso,v0.0.1
7,8,Falso,Falso,Falso,Falso,v0.0.1
8,9,Verdadero,Verdadero,Verdadero,Falso,v0.0.2
9,10,Verdadero,Verdadero,Falso,Falso,v0.0.2

In [4]:
dim_audit.to_csv('git/shorts/dimensional/data/dim_audit.csv', index=False)