In [2]:
import pandas as pd
import numpy as np

## Leer datos

In [3]:
dim_hour = pd.read_csv('git/shorts/dimensional/data/dim_hour.csv')
print(dim_hour.shape)
display(dim_hour.head(3))

(24, 3)

   id_hour  hour hour_group
0        1     0  Madrugada
1        2     1  Madrugada
2        3     2  Madrugada

In [14]:
dim_date = pd.read_csv('git/shorts/dimensional/data/dim_date.csv')
print(dim_date.shape)
display(dim_date.head(3))

(367, 18)

,id_date,date,day,month,year,day_of_week,day_name,month_name,quarter,weekday_indicator,week_of_year,is_end_of_month,is_end_of_quarter,is_end_of_year,quarter_name,year_month,quarter_year,holiday_indicator
0,19000101,1900-01-01,1,1,1900,1,Lunes,Enero,1,Entre Semana,1,False,False,False,T1,1900-01,T1 1900,No Festivo
1,20250101,2025-01-01,1,1,2025,3,Miércoles,Enero,1,Entre Semana,1,False,False,False,T1,2025-01,T1 2025,Festivo
2,20250102,2025-01-02,2,1,2025,4,Jueves,Enero,1,Entre Semana,1,False,False,False,T1,2025-01,T1 2025,No Festivo

In [5]:
dim_product = pd.read_csv('git/shorts/dimensional/data/dim_product.csv')
print(dim_product.shape)
display(dim_product.head(3))

(100, 9)

,id_product,title,author,genre,subgenre,publication_year,publisher,cover_type,country
0,1,Libro 1,Autor 21,Misterio,Subgénero B,1994,Editorial 5,Tapa Dura,Argentina
1,2,Libro 2,Autor 4,Misterio,Subgénero C,1990,Editorial 4,Tapa Blanda,España
2,3,Libro 3,Autor 1,Misterio,Subgénero B,2019,Editorial 5,Tapa Blanda,Colombia

In [6]:
dim_store = pd.read_csv('git/shorts/dimensional/data/dim_store.csv')
print(dim_store.shape)
display(dim_store.head(3))

(20, 5)

   id_store store_name    state  open_date        store_type
0         1   Tienda 1  Jalisco   20250201  Centro Comercial
1         2   Tienda 2     CDMX   20250101        Standalone
2         3   Tienda 3     CDMX   20250115        Standalone

In [7]:
dim_promotion = pd.read_csv('git/shorts/dimensional/data/dim_promotion.csv')
print(dim_promotion.shape)
print(dim_promotion.head(6))

(6, 7)
   id_promotion promotion_code                               promotion_name  \
0             1          00000                                Sin Promoción
1             2         DESC01                             Promoción al 2x1
2             3         DESC02                             Promoción al 2x1
3             4         DESC03                             Promoción al 2x1
4             5          FIJ01  Cupon de 50 pesos en compra superior a $500
5             6          FIJ02  Cupon de 50 pesos en compra superior a $500

   start_date  end_date price_reduction_type promotion_media_type
0    19000101  21000101        Sin reducción          Sin campaña
1    20250501  20250515           Porcentaje             Facebook
2    20250601  20250615           Porcentaje                Radio
3    20250701  20250715           Porcentaje          Sin Campaña
4    20250801  20250815                 Fijo             Facebook
5    20250901  20250915                 Fijo                Radio

In [8]:
transactions = pd.read_csv('git/shorts/dimensional/data/fact_retail_transactions.csv')
print(transactions.shape)
display(transactions.head(3))

(9738, 16)

,id_transaction,id_date,id_hour,id_product,id_store,pos_transaction,id_promotion,sales_quantity,regular_unit_price,cost_unit_price,discount_unit_price,net_unit_price,extended_discount_price,extended_net_price,extended_cost_price,extended_gross_profit
0,1,20250902,21,47,3,1,1,1,548.0,361.68,0.0,548.0,0.0,548.0,361.68,186.32
1,2,20250513,11,70,4,2,1,1,550.0,440.00,0.0,550.0,0.0,550.0,440.00,110.00
2,3,20250605,18,39,19,3,1,1,381.0,205.74,0.0,381.0,0.0,381.0,205.74,175.26

In [25]:
factless_coverage_genre = pd.read_csv('git/shorts/dimensional/data/factless_coverage_genre.csv')
print(factless_coverage_genre.shape)
display(factless_coverage_genre.head(3))

(720, 4)

   id_store     genre  month  incidence_count
0         1  Misterio      7                1
1         1  Misterio      8                1
2         1  Misterio      9                1

In [16]:
sales_by_date_and_promotion = transactions.groupby(by=['id_date', 'id_promotion'], as_index=False).agg({'extended_net_price': 'sum', 'extended_gross_profit': 'sum',})
sales_by_date_and_promotion = sales_by_date_and_promotion.merge(dim_promotion, how='inner', on='id_promotion')
sales_by_date_and_promotion = sales_by_date_and_promotion.merge(dim_date[['id_date', 'date', 'week_of_year', 'quarter_year', 'holiday_indicator']], how='inner', on='id_date')                                                                                                        

print(sales_by_date_and_promotion.shape)
display(sales_by_date_and_promotion.head(3))

(1099, 14)

,id_date,id_promotion,extended_net_price,extended_gross_profit,promotion_code,promotion_name,start_date,end_date,price_reduction_type,promotion_media_type,date,week_of_year,quarter_year,holiday_indicator
0,20250101,1,7633.0,3223.72,00000,Sin Promoción,19000101,21000101,Sin reducción,Sin campaña,2025-01-01,1,T1 2025,Festivo
1,20250101,5,784.0,196.96,FIJ01,Cupon de 50 pesos en compra superior a $500,20250801,20250815,Fijo,Facebook,2025-01-01,1,T1 2025,Festivo
2,20250102,1,9204.0,3774.88,00000,Sin Promoción,19000101,21000101,Sin reducción,Sin campaña,2025-01-02,1,T1 2025,No Festivo

In [20]:
sales_by_category = transactions.groupby(by=['id_product'], as_index=False).agg({'extended_net_price': 'sum'})
sales_by_category = sales_by_category.merge(dim_product[['id_product', 'genre', 'subgenre']], how='inner', on='id_product')
sales_by_category = sales_by_category.groupby(by=['genre', 'subgenre'], as_index=False).agg({'extended_net_price': 'sum'})

print(sales_by_category.shape)
display(sales_by_category.head(30))

(18, 3)

              genre     subgenre  extended_net_price
0   Ciencia Ficción  Subgénero A            168156.0
1   Ciencia Ficción  Subgénero B            369830.0
2   Ciencia Ficción  Subgénero C            147971.0
3          Fantasia  Subgénero A            409868.0
4          Fantasia  Subgénero B            164272.0
5          Fantasia  Subgénero C            299255.0
6           Ficción  Subgénero A            387254.0
7           Ficción  Subgénero B            259055.0
8           Ficción  Subgénero C            238000.0
9          Misterio  Subgénero A            436773.0
10         Misterio  Subgénero B            596119.0
11         Misterio  Subgénero C            293127.0
12       No Ficción  Subgénero A            266889.0
13       No Ficción  Subgénero B            156927.0
14       No Ficción  Subgénero C            106407.0
15          Romance  Subgénero A            501355.0
16          Romance  Subgénero B            258030.0
17          Romance  Subgénero C            162924.0

In [24]:
#FACTLESS FOR GENRE COVERAGE
genre_sales = transactions[['id_product', 'id_date', 'id_store', 'sales_quantity']]
genre_sales = genre_sales.merge(dim_product[['id_product', 'genre']], how='inner', on='id_product')
genre_sales = genre_sales.merge(dim_date[['id_date', 'month']], how='inner', on='id_date')

genre_sales = genre_sales.groupby(by=['genre', 'id_store', 'month'], as_index=False).agg({'sales_quantity': 'sum'})
genre_sales = genre_sales.loc[genre_sales['month'] >= 7]

print(genre_sales.shape)
display(genre_sales.head(3))

(691, 4)

             genre  id_store  month  sales_quantity
5  Ciencia Ficción         1      7               4
6  Ciencia Ficción         1      8               6
7  Ciencia Ficción         1      9               3

In [34]:
#UNSOLD GENRES
unsold_genres = factless_coverage_genre.merge(genre_sales, how='left', on=['genre', 'id_store', 'month'])
unsold_genres = unsold_genres.loc[unsold_genres['sales_quantity'].isna()]
unsold_genres = unsold_genres.merge(dim_store[['id_store', 'store_name', 'state']], how='inner', on='id_store')
unsold_genres = unsold_genres.merge(dim_date[['month', 'month_name', 'year']].drop_duplicates(), how='inner', on='month')
unsold_genres = unsold_genres.sort_values(by=['year', 'month', 'state', 'store_name', 'genre'])
unsold_genres = unsold_genres[['year', 'month', 'month_name', 'state', 'store_name', 'genre', 'incidence_count']]

print(unsold_genres.shape)
display(unsold_genres.head(30))

(29, 7)

,year,month,month_name,state,store_name,genre,incidence_count
15,2025,7,Julio,Guanajuato,Tienda 15,Ciencia Ficción,1
0,2025,7,Julio,Jalisco,Tienda 1,No Ficción,1
8,2025,7,Julio,Jalisco,Tienda 8,Ciencia Ficción,1
23,2025,7,Julio,Nuevo León,Tienda 18,No Ficción,1
21,2025,7,Julio,Nuevo León,Tienda 18,Romance,1
14,2025,8,Agosto,Guanajuato,Tienda 15,No Ficción,1
9,2025,8,Agosto,Jalisco,Tienda 8,Ciencia Ficción,1
4,2025,8,Agosto,Jalisco,Tienda 8,Ficción,1
3,2025,8,Agosto,Jalisco,Tienda 8,Misterio,1
16,2025,8,Agosto,Nuevo León,Tienda 18,Misterio,1
24,2025,8,Agosto,Nuevo León,Tienda 18,No Ficción,1
13,2025,9,Septiembre,CDMX,Tienda 12,Ciencia Ficción,1
12,2025,9,Septiembre,CDMX,Tienda 12,No Ficción,1
10,2025,9,Septiembre,Jalisco,Tienda 8,Ciencia Ficción,1
25,2025,9,Septiembre,Nuevo León,Tienda 18,Ciencia Ficción,1
18,2025,9,Septiembre,Nuevo León,Tienda 18,Ficción,1
22,2025,9,Septiembre,Nuevo León,Tienda 18,Romance,1
5,2025,10,Octubre,Jalisco,Tienda 8,Romance,1
26,2025,10,Octubre,Nuevo León,Tienda 18,Ciencia Ficción,1
27,2025,10,Octubre,Nuevo León,Tienda 18,Fantasia,1
19,2025,10,Octubre,Nuevo León,Tienda 18,Ficción,1
2,2025,11,Noviembre,CDMX,Tienda 6,Ciencia Ficción,1
1,2025,11,Noviembre,Jalisco,Tienda 1,No Ficción,1
6,2025,11,Noviembre,Jalisco,Tienda 8,No Ficción,1
20,2025,11,Noviembre,Nuevo León,Tienda 18,Ficción,1
7,2025,12,Diciembre,Jalisco,Tienda 8,No Ficción,1
28,2025,12,Diciembre,Nuevo León,Tienda 18,Fantasia,1
17,2025,12,Diciembre,Nuevo León,Tienda 18,Misterio,1
11,2025,12,Diciembre,Puebla,Tienda 11,No Ficción,1