In [1]:
import pandas as pd
import numpy as np

## Leer datos

In [4]:
dim_hour = pd.read_csv('git/shorts/dimensional/data/dim_hour.csv')
print(dim_hour.shape)
display(dim_hour.head(3))

(24, 3)

   id_hour  hour hour_group
0        1     0  Madrugada
1        2     1  Madrugada
2        3     2  Madrugada

In [14]:
dim_date_open_store = pd.read_csv('git/shorts/dimensional/data/dim_date.csv')
print(dim_date_open_store.shape)
display(dim_date_open_store.head(3))

(367, 18)

,id_date,date,day,month,year,day_of_week,day_name,month_name,quarter,weekday_indicator,week_of_year,is_end_of_month,is_end_of_quarter,is_end_of_year,quarter_name,year_month,quarter_year,holiday_indicator
0,19000101,1900-01-01,1,1,1900,1,Lunes,Enero,1,Entre Semana,1,False,False,False,T1,1900-01,T1 1900,No Festivo
1,20250101,2025-01-01,1,1,2025,3,Miércoles,Enero,1,Entre Semana,1,False,False,False,T1,2025-01,T1 2025,Festivo
2,20250102,2025-01-02,2,1,2025,4,Jueves,Enero,1,Entre Semana,1,False,False,False,T1,2025-01,T1 2025,No Festivo

In [7]:
dim_product = pd.read_csv('git/shorts/dimensional/data/dim_product.csv')
print(dim_product.shape)
display(dim_product.head(3))

(100, 9)

,id_product,title,author,genre,subgenre,publication_year,publisher,cover_type,country
0,1,Libro 1,Autor 21,Misterio,Subgénero B,1994,Editorial 5,Tapa Dura,Argentina
1,2,Libro 2,Autor 4,Misterio,Subgénero C,1990,Editorial 4,Tapa Blanda,España
2,3,Libro 3,Autor 1,Misterio,Subgénero B,2019,Editorial 5,Tapa Blanda,Colombia

In [8]:
dim_store = pd.read_csv('git/shorts/dimensional/data/dim_store.csv')
print(dim_store.shape)
display(dim_store.head(3))

(20, 5)

   id_store store_name    state  open_date        store_type
0         1   Tienda 1  Jalisco   20250201  Centro Comercial
1         2   Tienda 2     CDMX   20250101        Standalone
2         3   Tienda 3     CDMX   20250115        Standalone

In [19]:
dim_promotion = pd.read_csv('git/shorts/dimensional/data/dim_promotion.csv')
print(dim_promotion.shape)
print(dim_promotion.head(6))

(6, 7)
   id_promotion promotion_code                               promotion_name  \
0             1          00000                                Sin Promoción
1             2         DESC01                             Promoción al 2x1
2             3         DESC02                             Promoción al 2x1
3             4         DESC03                             Promoción al 2x1
4             5          FIJ01  Cupon de 50 pesos en compra superior a $500
5             6          FIJ02  Cupon de 50 pesos en compra superior a $500

   start_date  end_date price_reduction_type promotion_media_type
0    19000101  21000101        Sin reducción          Sin campaña
1    20250501  20250515           Porcentaje             Facebook
2    20250601  20250615           Porcentaje                Radio
3    20250701  20250715           Porcentaje          Sin Campaña
4    20250801  20250815                 Fijo             Facebook
5    20250901  20250915                 Fijo                Radio