In [2]:
import pandas as pd
from deltalake import DeltaTable, write_deltalake

In [67]:
df = pd.DataFrame({"id": [1, 2, 3], 
                   "name": ["Aadhya", "Bob", "Chen"]
                  })

print(df.shape)
display(df)

(3, 2)

   id    name
0   1  Aadhya
1   2     Bob
2   3    Chen

In [70]:
path = '/home/armando/git/shorts/architecture/data/deltalake/demo'

write_deltalake(table_or_uri=path, data=df, mode='overwrite', name='people_table', description='A simple people table')

In [64]:
df_02 = pd.DataFrame({"id": [4, 5],
                      "name": ["Diana", "Eli"]
                       })

display(df_02)

   id   name
0   4  Diana
1   5    Eli

In [72]:
path = '/home/armando/git/shorts/architecture/data/deltalake/demo'

write_deltalake(table_or_uri=path, data=df_02, mode='append', name='people_table', description='A simple people table')

In [74]:
dt = DeltaTable(path)

updated_data = pd.DataFrame({"id": [5, 6],
                             "name": ["Elizabeth", "Fabio"]
                            })

dt.merge(source=updated_data, predicate="target.id = source.id",
         source_alias="source", target_alias="target").when_matched_update_all().when_not_matched_insert_all().execute()

{'num_source_rows': 2,
 'num_target_rows_inserted': 1,
 'num_target_rows_updated': 1,
 'num_target_rows_deleted': 0,
 'num_target_rows_copied': 1,
 'num_output_rows': 3,
 'num_target_files_scanned': 2,
 'num_target_files_skipped_during_scan': 0,
 'num_target_files_added': 1,
 'num_target_files_removed': 1,
 'execution_time_ms': 9,
 'scan_time_ms': 1,
 'rewrite_time_ms': 0}

In [75]:
dt = DeltaTable(path)

print(dt.version())
print('')
print(dt.schema())
print('')
print(dt.metadata())
print('')
#print(dt.history())
#print('')
print(dt.vacuum())

new_df = dt.to_pandas() #(partitions=[('id', '>', '3')])

display(new_df)

16

Schema([Field(id, PrimitiveType("long"), nullable=True), Field(name, PrimitiveType("string"), nullable=True)])

Metadata(id: d8d28739-4cb9-415e-99d7-fd80095ccd57, name: None, description: None, partition_columns: [], created_time: 1762382412412, configuration: {})

[]

   id       name
0   6      Fabio
1   5  Elizabeth
2   4      Diana
3   1     Aadhya
4   2        Bob
5   3       Chen