In [2]:
import pandas as pd
from deltalake import DeltaTable, write_deltalake

In [37]:
df = pd.DataFrame({"id": [1, 2, 3], 
                   "name": ["Aadhya", "Bob", "Chen"]
                  })

print(df.shape)
display(df)

(3, 2)

   id    name
0   1  Aadhya
1   2     Bob
2   3    Chen

In [39]:
path = '/home/armando/git/shorts/architecture/data/deltalake/demo'

write_deltalake(table_or_uri=path, data=df, mode='overwrite')

In [41]:
df_02 = pd.DataFrame({"id": [4, 5],
                      "name": ["Diana", "Eli"]
                       })

display(df_02)

   id   name
0   4  Diana
1   5    Eli

In [42]:
path = '/home/armando/git/shorts/architecture/data/deltalake/demo'

write_deltalake(table_or_uri=path, data=df_02, mode='append')

In [43]:
dt = DeltaTable(path)

print(dt.version())
print(dt.schema())
new_df = dt.to_pandas()

display(new_df)

8
Schema([Field(id, PrimitiveType("long"), nullable=True), Field(name, PrimitiveType("string"), nullable=True)])

   id    name
0   4   Diana
1   5     Eli
2   1  Aadhya
3   2     Bob
4   3    Chen