In [18]:
import pandas as pd
import snowflake.connector

In [17]:
anuncios = pd.read_csv('/home/armando/Desktop/anuncios.csv')
print(anuncios.shape)
display(anuncios.head(3))

(10, 12)

,identificador,tipo,operacion,costo,divisa,publicacion,expiracion,estado,municipio,colonia,habitaciones,superficie
0,GHYUJK,casa,venta,1500000,MXN,2024-01-01,2024-03-01,Mexico,Naucalpan,Prados,3,150
1,KIUTEE,casa,venta,2000000,MXN,2024-01-15,2024-03-01,México,Naucalpan,Satelite,2,160
2,NJFRTH,casa,venta,1750000,MXN,2024-01-20,2024-03-20,CDMX,Cuauhtemoc,Roma,3,200

In [ ]:
conn = snowflake.connector.connect(
    user='FAMENOR',
    password='',
    account='NOHWIHB-FFC10131',
    warehouse='anuncios_dw',
    database='anuncios_db',
    schema='bronce'
)

In [25]:
cursor = conn.cursor()

query = "SELECT tipo, operacion, costo FROM anuncios WHERE superficie <= 100"
cursor.execute(query)

# Example using fetchall()
results = cursor.fetchall()
for row in results:
    print(row[0], row[1], row[2])

cursor.close()
conn.close()

departamento venta 700000.0
departamento venta 1200000.0
departamento renta 6500.0
departamento renta 12000.0
departamento renta 800.0